/*you can call on any tag, id, or class name to change properties in CSS*/
/*CSS is almost endless - so if you are curious if you can change something, google it!*/

/*every tag starts with:*/
/*elementName/ID/Class{*/
/*    propertyName: what you are changing to; <-- this semi colon is IMPORTANT!*/
/*}*/

body{
    background-image: url("https://s.abcnews.com/images/Lifestyle/ht_pudding_the_fox_03_mt_140821_16x9_1600.jpg");
    background-repeat: no-repeat;
    /*you could add more properties to change right in here, no need to call body again.*/
}
div {
    color: white;
    font-size: 25px;
    /*background-color: black;*/
    /*border: solid;*/
    /*width: 400px;*/
    /*text-align: center;*/
}
#bio {
    font-size: 30px 
}

.powerText {
    font-style: italic;
}